<%- layout("./layouts/boilerplate.ejs") -%>
<style>
  .card {
    width: 100% !important;
    height: 100% !important;
  }

  .page-title {
    background-color: white;
    width: fit-content;
    margin-left: 12rem;
    padding: 1rem;
  }
  img {
    height: 500px !important;
  }

  .text-center {
    background-color: #322c2b;
    color: white;
    margin-bottom: 2rem;
  }
</style>

<div
  class="badge text-bg-light text-wrap fs-1 text-center mt-1 mb-5"
  style="width: 100%; color: black !important"
>
  <h1 class="page-title text-center">
    <b>The Most Famous Landmarks in the World</b>
  </h1>
</div>
<hr />
<div class="container-fluide">
  <div class="row row-cols-md-1 row-cols-lg-2 mb-3">
    <% for(blog of blogdata){%>
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card" style="width: 18rem">
        <img src="<%= blog.ImageUrl1  %>" class="card-img-top p-2" alt="..." />
        <h3><%= blog.title %></h3>
        <div class="card-body p-2">
          <p class="card-text"><%= blog.intro %></p>
        </div>
        <form action="/blog/details/<%= blog._id  %>">
          <button class="btn btn-info m-2" type="submit">Read more</button>
        </form>
      </div>
    </div>
    <% }%>
  </div>
</div>
