<%- layout("./layouts/boilerplate.ejs") -%>
<body>
  <style>
    .form {
      margin-top: 4rem !important;
      border: 1px solid rgb(245, 238, 238);
      background-color: white;
      border-radius: 1rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    .text-center {
      background-color: #322c2b;
      color: white;
      margin-bottom: 2rem;
      border-radius: 0.5rem;
      padding: 0.5rem;
    }
  </style>

  <!-- Title -->
  <div
    class="badge text-bg-light text-wrap fs-1 text-center mt-1 mb-5"
    style="width: 100%; color: black !important"
  >
    <h1 class="page-title"><b><%= blogdata.title %></b></h1>
  </div>
  <hr />

  <!-- Form -->
  <div class="container">
    <form
      action="/blog/update/<%= blogdata._id %>?_method=PATCH"
      method="post"
      class="form m-3 p-4"
      enctype="multipart/form-data"
    >
      <h1 class="text-center">Update Blog Details</h1>

      <!-- Title -->
      <div class="mb-3 col-12">
        <label for="title" class="form-label"><b>Update Title</b></label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          value="<%= blogdata.title %>"
          placeholder="Write title"
          required
        />
      </div>

      <!-- Images -->
      <div class="row">
        <div class="mb-3 col-lg-4 col-md-6 col-12">
          <label for="image1" class="form-label"><b>Update ImageURL1</b></label>
          <input
            type="file"
            class="form-control"
            id="image1"
            name="ImageUrl1"
          />
        </div>
        <div class="mb-3 col-lg-4 col-md-6 col-12">
          <label for="image2" class="form-label"><b>Update ImageURL2</b></label>
          <input
            type="file"
            class="form-control"
            id="image2"
            name="ImageUrl2"
          />
        </div>
        <div class="mb-3 col-lg-4 col-md-6 col-12">
          <label for="image3" class="form-label"><b>Update ImageURL3</b></label>
          <input
            type="file"
            class="form-control"
            id="image3"
            name="ImageUrl3"
          />
        </div>
      </div>

      <!-- Location -->
      <div class="mb-3 col-12">
        <label for="location" class="form-label"><b>Location</b></label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          value="<%= blogdata.location %>"
          placeholder="Location name"
          required
        />
      </div>

      <!-- Country -->
      <div class="mb-3 col-12">
        <label for="country" class="form-label"><b>Country</b></label>
        <input
          type="text"
          class="form-control"
          id="country"
          name="country"
          value="<%= blogdata.country %>"
          placeholder="Country name"
          required
        />
      </div>

      <!-- Intro -->
      <div class="mb-3 col-12">
        <label for="intro" class="form-label"><b>Intro</b></label>
        <textarea
          class="form-control"
          id="intro"
          name="intro"
          required
          style="height: 100px"
        >
<%= blogdata.intro %></textarea
        >
      </div>

      <!-- About -->
      <div class="mb-3 col-12">
        <label for="about" class="form-label"><b>About</b></label>
        <textarea
          class="form-control"
          id="about"
          name="about"
          required
          style="height: 100px"
        >
<%= blogdata.about %></textarea
        >
      </div>

      <!-- Submit -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg px-5 mt-3">
          <b>Submit</b>
        </button>
      </div>
    </form>
  </div>
</body>
